<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Yang">
    <meta name="description" content="Programming technicalities and musings">

    <title>CoreML Converter</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <h2> CoreML Converter </h2>
    <form action="/upload" enctype="multipart/form-data" method="post">
        <h4>Select data set to upload:</h4>
        <input type="file" name="csv">
        <input type="submit" value="Upload">
    </form>

    <form action="/generate" enctype="multipart/form-data" method="POST">
        <h4>Select Models to Test</h4>
        <input type="checkbox" name="svc" value="svc"> Support Vector Classifier<br>
        <input type="checkbox" name="knn" value="knn"> K Nearest Neighbors<br>
        <input type="checkbox" name="decision-trees" value="decision-trees"> Decision Trees Classifier<br>
        <input type="checkbox" name="random-forest" value="random-forest"> Random Forest Classifier<br>
        <input type="checkbox" name="gradient-boosted" value="gradient-boosted"> Gradient Boosted Classifier<br>

        <h4>Specify Train/Test Split:</h4>
        <p>Enter Decimal Value (i.e. 0.4 means 40% of data is for training and 60% is for testing)</p>
        <input type="text" name="split">

        <h4>Specfiy Label/Prediction Column Name</h4>
        <input type="text" name="label">
        <br><br>

        <input type="submit" value="Generate">
    </form>
</body>

</html>
