<link href="txtstyle.css" rel="stylesheet" type="text/css" />
Model: knn
Classification Report: 
             precision    recall  f1-score   support

          0       0.65      0.69      0.67       211
          1       0.51      0.46      0.48       146

avg / total       0.59      0.60      0.59       357

Confusion Matrix: 
[[146  65]
 [ 79  67]]


Model: decision-trees
Classification Report: 
             precision    recall  f1-score   support

          0       0.71      0.69      0.70       211
          1       0.57      0.58      0.57       146

avg / total       0.65      0.65      0.65       357

Confusion Matrix: 
[[146  65]
 [ 61  85]]


Model: random-forest
Classification Report: 
             precision    recall  f1-score   support

          0       0.66      0.73      0.69       211
          1       0.54      0.46      0.50       146

avg / total       0.61      0.62      0.61       357

Confusion Matrix: 
[[154  57]
 [ 79  67]]


